<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sassy Sinatra</title>
    <%= css :main %>
  </head>

  <body>
  <header>
    <h1>Sassy Sinatra</h1>
  </header>
  <section>
    <%= yield %>
  </section>
  <footer>
    <small>&copy; <%= Time.now.year %> Millwood Online Ltd.</small>
  </footer>
  </body>
</html>
